body{
    display:flex;
    justify-content: center;;
    height:100vh;
    align-items: center;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
} 
.Password-container{
    background-color:red;
    background:linear-gradient(red,blue) ;
    width:500px;
    height:200px;
    padding:20px;
    border-radius: 10px;
    margin: 10px;
}
.input-container{
    padding:10px;
    border:solid 2px black;
    border-radius:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:black;
}
.input{
    border:none;
    background-color: transparent;
    outline:none;
    font-size:24px;
    letter-spacing:4px;
}
.input::placeholder
{
letter-spacing: 0px;
}
.fa-copy{
    cursor:pointer;
    opacity:.3;
}
.fa-copy:hover {
    opacity:0.7;
}
.btn{
    background-color: black;
    color:whitesmoke;
    padding:10px;
    border-radius:10px;
    margin:10px 0;
    font-size:20px;
    cursor:pointer;
}
.btn:hover{
    background-color: rgb(113, 6, 6);

}
.btn:active{
    transform: scale(0.95);
}
.alert-container{
    position:fixed;
    width:300px;
    height: 50px;
    background-color: aquamarine;
    right:20px;
    bottom:20px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
}
.active.alert-container{
    right: -200px;
}
